@inject IConfiguration configuration
@model PageBaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title - @configuration["Settings:Project"]</title>
    <link href="~/libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Head", false)
</head>
<body class="d-flex flex-column">
    <div class="container d-flex flex-column flex-fill">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">@configuration["Settings:Project"]</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <partial name="NavigationMenu" />
                    </div>
                </div>
            </nav>
        </div>
        <div class="flex-fill py-4 content" role="main">
            @RenderBody()
        </div>
        <div class="px-3 py-3 footer">
            &copy; @DateTime.Now.Year - @configuration["Settings:Project"]
        </div>
    </div>

    <script src="~/libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
